name: Checking action

on: push

jobs:
  check-action:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run Action
        uses: ./.github/actions/composite-action
        with:
          greet: "Ayesha Azad"
