name: Monorepo Smart CI

on:
  push:
  pull_request:

jobs:
  config-filter:
    runs-on: ubuntu-latest
    outputs:
      frontend: ${{steps.filter.outputs.frontend}}
      backend: ${{steps.filter.outputs.backend}}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
      - name: Filter Folders
        id: filter
        uses: dorny/paths-filter@v3
        with:
          filters: | 
            frontend:
              - 'frontend/**'
            backend:
              - 'backend/**'
              
  use-filter:
    runs-on: ubuntu-latest
    needs: config-filter
    strategy:
      matrix:
        services: ["frontend", "backend"]
    steps:
      - name: Checkout Repository
        if: |
          (matrix.services == 'frontend' && needs.config-filter.outputs.frontend == 'true') || 
          (matrix.services == 'backend' && needs.config-filter.outputs.backend == 'true')
        uses: actions/checkout@v4

      - name: Setup Node
        if: |
          (matrix.services == 'frontend' && needs.config-filter.outputs.frontend == 'true') || 
          (matrix.services == 'backend' && needs.config-filter.outputs.backend == 'true')
        uses: actions/setup-node@v5
        with:
          node-version: '20'
          cache: 'npm'

      - name: Install Dependencies
        if: |
          (matrix.services == 'frontend' && needs.config-filter.outputs.frontend == 'true') || 
          (matrix.services == 'backend' && needs.config-filter.outputs.backend == 'true')
        run: npm ci

      - name: Run code
        if: |
          (matrix.services == 'frontend' && needs.config-filter.outputs.frontend == 'true') || 
          (matrix.services == 'backend' && needs.config-filter.outputs.backend == 'true')
        run: node index.js
          
