name: Monorepo Smart CI

on:
  push:
  pull_request:

jobs:
  detect-changes:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        services: ["frontend", "backend"]
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Use Dornys Paths Filter
        id: filter
        uses: dorny/paths-filter@v3
        with:
          filters: |
            frontend:
              - "frontend/**"
            backend:
              - "backend/**"

      - name: Setup Node
        if: |
          (matrix.services == 'frontend' && steps.filter.outputs.frontend == 'true') ||
          (matrix.services == 'backend' && steps.filter.outputs.backend == 'true')
        uses: actions/setup-node@v5
        with:
          node-version: "20"
          cache: "npm"

      - name: Install Dependencies
        if: |
          (matrix.services == 'frontend' && steps.filter.outputs.frontend == 'true') ||
          (matrix.services == 'backend' && steps.filter.outputs.backend == 'true')
        run: npm ci
        working-directory: ${{matrix.services}}
        # run: |
        #   cd ${{matrix.services}}
        #   npm ci
        #   cd ..

      - name: Run Code
        if: |
          (matrix.services == 'frontend' && steps.filter.outputs.frontend == 'true') ||
          (matrix.services == 'backend' && steps.filter.outputs.backend == 'true')
        run: npm run build
        # run: node ${{matrix.services}}/index.js
